language: php

sudo: false

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0

before_install:
  - composer self-update
  - if [ "$TRAVIS_BRANCH" = "master" ]; then export COMPOSER_ROOT_VERSION=dev-master; else export COMPOSER_ROOT_VERSION="$TRAVIS_BRANCH".x-dev; fi;

before_script:
  - composer install --no-interaction --prefer-source

script:
  - phpunit

notifications:
    email: false
